<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New person</title>
</head>
<body>

<form th:method="POST" th:action="@{/books}" th:object="${book}">
    <label for="title">Enter title: </label>
    <input type="text" th:field="*{title}" id="title"/>
    <div style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">title Error</div>
    <br/>
    <label for="author">Enter author: </label>
    <input type="text" th:field="*{author}" id="author"/>
    <div style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">author Error</div>
    <br/>
    <label for="year_of_publish">Enter year Of Publication: </label>
    <input type="number" th:field="*{year_of_publish}" id="year_of_publish"/>
    <div style="color:red" th:if="${#fields.hasErrors('year_of_publish')}" th:errors="*{year_of_publish}">
        year_of_publish Error</div>
    <br/>
    <input type="submit" value="Create!"/>
</form>

</body>
</html>